*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

section{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.section1{
   background: #f1f1f1;  
}
.section2{
   background: #6dc3e6; 
}
.section3{
   background: #cf4892; 
}
.section4{
   background: #5be271; 
}
.back-to-top{
    position: fixed;
    right: 32px;
    bottom: 16px;
    height: 60px;
    width: 60px;
    font-size: 2rem;
    background-color: #f1f1f1;
    color: #000;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: all .5s;
    opacity: 0;
}
.back-to-top.active{
   opacity: 1;
   pointer-events: auto; 
}

